<div class="box-location-col" data-layout="3" data-key="keycd" data-marked-zoneid="nld_home_mientrungtaynguyen">
  <a href="/mien-trung-tay-nguyen.htm" class="box-location-title" title="Miền Trung - Tây Nguyên">

    <svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="24" cy="14" r="11.5" stroke="#F0960F" stroke-width="3"></circle>
      <path d="M14.125 1L27.25 28.25H1L14.125 1Z" fill="white" stroke="#1259A9" stroke-width="2"
            stroke-linejoin="round"></path>
      <path
        d="M23.5 19.4911L28.7941 12.6786L38.5 28.25H27.25M8.5 12.6786H19.75H8.5ZM10.375 8.78571L6.625 16.5714L10.375 8.78571ZM17.875 8.78571L21.625 16.5714L17.875 8.78571Z"
        fill="white"></path>
      <path
        d="M23.5 19.4911L28.7941 12.6786L38.5 28.25H27.25M8.5 12.6786H19.75M10.375 8.78571L6.625 16.5714M17.875 8.78571L21.625 16.5714"
        stroke="#1259A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>

    Miền Trung - Tây Nguyên
  </a>

  <a href="/mien-trung-tay-nguyen/co-che-dac-thu-co-hoi-va-thu-thach-cho-khanh-hoa-20220727205640695.htm"
     class="box-content-top" title="Cơ chế đặc thù, cơ hội và thử thách cho Khánh Hòa" data-id="20220727205640695">
    <img
      src="https://nld.mediacdn.vn/zoom/361_218/291774122806476800/2022/7/27/23-hinh-2-16589270355661306996960.jpg"
      alt="Cơ chế đặc thù, cơ hội và thử thách cho Khánh Hòa" class="box-content__avatar" data-width="361"
      data-height="218">
    <h3 class="box-content__title" data-type="title" data-linktype="newsdetail" data-id="20220727205640695"
        data-newstype="0">Cơ chế đặc thù, cơ hội và thử thách cho Khánh Hòa</h3>
  </a>


  <div class="box-content-related">

    <div class="box-content-related__item" data-id="20220727205751705">
      <a href="/mien-trung-tay-nguyen/binh-thuan-som-khac-phuc-viec-quan-ly-dat-long-leo-20220727205751705.htm"
         class="avatar" title="Bình Thuận sớm khắc phục việc quản lý đất lỏng lẻo" data-id="20220727205751705">
        <img src="https://nld.mediacdn.vn/web_images/no-img.png"
             alt="Bình Thuận sớm khắc phục việc quản lý đất lỏng lẻo" data-type="avatar" data-width="160"
             data-height="101">
      </a>
      <h3 class="box-content-related__title">
        <a href="/mien-trung-tay-nguyen/binh-thuan-som-khac-phuc-viec-quan-ly-dat-long-leo-20220727205751705.htm"
           title="Bình Thuận sớm khắc phục việc quản lý đất lỏng lẻo" data-type="title" data-linktype="newsdetail"
           data-id="20220727205751705" data-newstype="0">
          Bình Thuận sớm khắc phục việc quản lý đất lỏng lẻo

        </a>
      </h3>
    </div>

    <div class="box-content-related__item" data-id="20220727135922909">
      <a href="/thoi-su/thuong-truc-ban-bi-thu-vo-van-thuong-du-tuyen-duong-nguoi-co-cong-20220727135922909.htm"
         class="avatar" title="Chủ tịch Quốc hội Vương Đình Huệ thăm, tặng quà người có công"
         data-id="20220727135922909">
        <img
          src="https://nld.mediacdn.vn/zoom/160_101/291774122806476800/2022/7/27/photo-2-16589275073701750165105.jpg"
          alt="Chủ tịch Quốc hội Vương Đình Huệ thăm, tặng quà người có công" data-type="avatar" data-width="160"
          data-height="101">
      </a>
      <h3 class="box-content-related__title">
        <a href="/thoi-su/thuong-truc-ban-bi-thu-vo-van-thuong-du-tuyen-duong-nguoi-co-cong-20220727135922909.htm"
           title="Chủ tịch Quốc hội Vương Đình Huệ thăm, tặng quà người có công" data-type="title"
           data-linktype="newsdetail" data-id="20220727135922909" data-newstype="3">
          Chủ tịch Quốc hội Vương Đình Huệ thăm, tặng quà người có công
        </a>
      </h3>
    </div>
  </div>
</div>
