<div class="container">
 <section class="hot-news">
  <div class="hot-news__top">
    <div class="hot-news__time">
      Monday, 25th July, 2022
    </div>
    <ul class="hot-news__list">
      <li class="hot-news__icon">
        <i class="fas fa-fire"></i>
      </li>
      <li class="hot-news__item">
        <a href="" class="hot-news__link">#Xung đột Nga - Ukraine</a>
      </li>
      <li class="hot-news__item">
        <a href="" class="hot-news__link">#Xung đột Nga - Ukraine</a>
      </li>
      <li class="hot-news__item">
        <a href="" class="hot-news__link">#Xung đột Nga - Ukraine</a>
      </li>
      <li class="hot-news__item">
        <a href="" class="hot-news__link">#Xung đột Nga - Ukraine</a>
      </li>
    </ul>
  </div>
   <div class="hot-news__content">
     <div class="hot-news__content--left">
       <div class="main-news">
         <div class="main-news__content">
           <a href="" class="">
             <img src="https://nld.mediacdn.vn/zoom/544_340/291774122806476800/2022/7/24/14-chot-1658671446850207511371.jpg" alt="" class="main-news__image">
           </a>
           <h3 class="main-news__title"><a href="" class="main-news__link">Diem chuan DH se tang o to hop xa hoi</a></h3>
           <p class="main-news__sapo">
             Nhiều chuyên gia tuyển sinh nhận định điểm chuẩn ĐH theo phương thức xét điểm thi tốt nghiệp THPT năm nay sẽ tăng mạnh ở các ngành xét tuyển tổ hợp văn, sử, địa...
           </p>
         </div>
       </div>
       <div class="list-news-thumb">
         <mdb-tabs>
           <mdb-tab title="Tin nóng">
             <ng-template mdbTabContent>
              <ul class="list-news-thumb__list">
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
                <li class="list-news-thumb__item">
                  <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
                </li>
              </ul>
             </ng-template>
           </mdb-tab>
           <mdb-tab title="Tin mới">
             <ng-template mdbTabContent>
               <ul class="list-news-thumb__list">
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               <li class="list-news-thumb__item">
                 <a href="" class="list-news-thumb__link" title="TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ">TP HCM yêu cầu các cửa khẩu giám sát thân nhiệt người nhập cảnh, phòng ngừa bệnh đậu mùa khỉ</a>
               </li>
               </ul>
             </ng-template>
           </mdb-tab>
         </mdb-tabs>
       </div>
     </div>
     <div class="hot-news__content-right"></div>
   </div>
 </section>
</div>
