.hot-news {
  &__list,&__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    gap: 14px;
  }
  &__link,&__time {
    font-size: 14px;
    font-weight: 500;
  }
  &__item {
    padding: 7px 12px;
    border-radius: 20px;
    background-color: #f5f5f5;
  }
  &__icon i {
    color: rgba(234, 34, 34, 0.92);
  }
  &__content--left {
    display: flex;
    //justify-content: space-between;
    gap: 30px;
  }
}
.main-news {
  width: 544px;
  &__title {
    padding: 10px 0px;
  }
  &__link {
    font-size: 30px;
    font-weight: bold;
  }
  &__image {
    max-width: 100%;
    object-fit: cover;
  }
  &__sapo {
    font-size: 13px;
    font-weight: 500;
  }
}
.list-news-thumb {
  width: 258px;
  &__list {
    height: 456px;
    overflow-y: scroll;
    transition: all 0.6s linear;
  }
  &__list:hover {
    transition: all 0.4s linear;
    &::-webkit-scrollbar-thumb,&::-webkit-scrollbar-track {
      opacity: 1;
      visibility: visible;
      transition: all 0.4s linear;

    }
  }
  &__list::-webkit-scrollbar {
    width: 4px;
  }
  &__list::-webkit-scrollbar-track {
    border-radius: 10px;
    height: 10px;
    background: rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
  }
  &__list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    height: 4px;
    background: rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
  }
  &__list::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.1);
    //opacity: 0;
  }
  &__item {
    list-style-type: circle;
    padding: 5px 10px;
  }
}
