<div class="box-cate-content">
  <div class="header-cate clearfix">
    <a href="/noi-thang.htm" title="Nói thẳng" class="title">Nói thẳng</a>
    <a href="/noi-thang.htm" title="Xem tất cả" class="view-more">Xem tất cả</a>
  </div>

  <div class="news-item">

    <a href="/noi-thang/noi-thang-om-nha-cong-vu-long-tham-va-su-tu-trong-20220713123500115.htm" title="&quot;Ôm&quot; nhà công vụ - Lòng tham và sự tự trọng" class="img216x133" data-newstype="0">

      <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/13/ava-noi-thang-13-7-1657722263411768497465.jpg" alt="&quot;Ôm&quot; nhà công vụ - Lòng tham và sự tự trọng" class="img216x133">
    </a>

    <h3 style="margin-bottom: 0px;"><a href="/noi-thang/noi-thang-om-nha-cong-vu-long-tham-va-su-tu-trong-20220713123500115.htm" data-newstypetitle="0" data-newsid="20220713123500115" class="title" title="&quot;Ôm&quot; nhà công vụ - Lòng tham và sự tự trọng">"Ôm" nhà công vụ - Lòng tham và sự tự trọng</a></h3>
    <div class="news-info clearfix">
      <div class="icon-views" style="display: none;"></div>
      <div class="number-views get-views" data-newsid="20220713123500115" style="display: none;"><span>0</span> người quan tâm</div>
    </div>
  </div>
</div>
<div class="box-cate-content">
  <div class="header-cate clearfix">
    <div class="header-cate-content fl">
      <a href="/tin-doc-quyen.htm" title="Tin độc quyền" class="title dq_title">Tin độc quyền</a>
    </div>

    <a href="/tin-doc-quyen.htm" title="Xem tất cả" class="view-more">Xem tất cả</a>
  </div>

  <div class="news-item">

    <a href="/thoi-su/vi-sao-danh-sach-can-bo-ve-huu-om-nha-cong-vu-khong-duoc-cong-khai-20220718102415424.htm" title="Vì sao danh sách cán bộ về hưu &quot;ôm&quot; nhà công vụ không được công khai?" class="img216x133" data-newstype="0">

      <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/18/c7a2d7cc47b885e6dca9-1658114072709341018207.jpg" alt="Vì sao danh sách cán bộ về hưu &quot;ôm&quot; nhà công vụ không được công khai?" class="img216x133">
    </a>

    <h3 style="margin-bottom: 0px;"><a href="/thoi-su/vi-sao-danh-sach-can-bo-ve-huu-om-nha-cong-vu-khong-duoc-cong-khai-20220718102415424.htm" class="title" data-newstypetitle="0" data-newsid="20220718102415424" title="Vì sao danh sách cán bộ về hưu &quot;ôm&quot; nhà công vụ không được công khai?">Vì sao danh sách cán bộ về hưu "ôm" nhà công vụ không được công khai?</a></h3>

    <div class="news-info clearfix">
      <div class="fl comment-outer first">
        <div class="icon-comment" style="display: block;"></div>
        <div class="number-comment get-comment" data-newsid="20220718102415424" style="display: block;">75</div>
      </div>
      <div class="separator" style="display: none;">-</div>
      <div class="fl views-outer last">
        <div class="icon-views" style="display: none;"></div>
        <div class="number-views get-views" data-newsid="20220718102415424" style="display: none;"><span>0</span></div>
      </div>
    </div>
  </div>

</div>
