
<div class="container">
<div class="box-content">
  <section class="box-content--left">
    <ul class="sub-cate__list">
      <li class="sub-cate__item"><a class="sub-cate__link" href="">Trong nuoc</a></li>
      <li class="sub-cate__item"><a class="sub-cate__link" href="">Trong nuoc</a></li>
      <li class="sub-cate__item"><a class="sub-cate__link" href="">Trong nuoc</a></li>
      <li class="sub-cate__item"><a class="sub-cate__link" href="">Trong nuoc</a></li>
      <li class="sub-cate__item"><a class="sub-cate__link" href="">Trong nuoc</a></li>
    </ul>
<div class="news--focus">
  <div class="news--info">
    <h3 class="news__title">
      <a href="">Bão Ma-on có thể giật cấp 13 hướng vào khu vực phía Bắc</a>
    </h3>
    <p class="news__sapo">(NLĐO)- Bão Ma-on đang giật cấp 10,
      có thể giật cấp 13 đang di chuyển nhanh hướng vào khu vực phía Bắc nước ta.
      Vùng biển phía Đông khu vực Bắc Biển Đông biển động mạnh, sóng biển cao từ 4-6 m</p>
  </div>
  <img src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/22/dbqgxtnd202208221400-16611598474041189599299-16611598782901560283366.gif" alt="Bão Ma-on có thể giật cấp 13 hướng vào khu vực phía Bắc" class="news__image"/>
</div>
    <div class="separator"></div>
    <div class="box-content__body">
      <ul class="news__list">
        <li class="news__item">
          <a [routerLink]="['/chi-tiet','https://nld.com.vn']" class="news__link">
            <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/8/22/2998224376041557477861613172252575109298895n-1661179265077948041752.jpg" class="news__image"/>
          </a>
          <div class="news__info">
            <h6 class="news__link text-medium"><a [routerLink]="['/chi-tiet','https://nld.com.vn']">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
              có thể giật cấp 13 đang di chuyển nhanh hướng vào khu vực phía Bắc nước ta.
              Vùng biển phía Đông khu vực Bắc Biển Đông biển động mạnh, sóng biển cao từ 4-6 m
            </a></h6>
            <a [routerLink]="['/chi-tiet','https://nld.com.vn']"class="news__sapo">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
            </a>
            <a [routerLink]="['/chi-tiet','https://nld.com.vn']" class="news__sapo">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
            </a>
          </div>
        </li>
        <li class="news__item">
          <a [routerLink]="['/chi-tiet','https://nld.com.vn']" class="news__link">
            <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/8/22/2998224376041557477861613172252575109298895n-1661179265077948041752.jpg" class="news__image"/>
          </a>
          <div class="news__info">
            <h6 class="news__link text-medium"><a [routerLink]="['/chi-tiet','https://nld.com.vn']">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
              có thể giật cấp 13 đang di chuyển nhanh hướng vào khu vực phía Bắc nước ta.
              Vùng biển phía Đông khu vực Bắc Biển Đông biển động mạnh, sóng biển cao từ 4-6 m
            </a></h6>
            <a [routerLink]="['/chi-tiet','https://nld.com.vn']"class="news__sapo">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
            </a>
            <a [routerLink]="['/chi-tiet','https://nld.com.vn']" class="news__sapo">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
            </a>
          </div>
        </li>
        <li class="news__item">
          <a [routerLink]="['/chi-tiet','https://nld.com.vn']" class="news__link">
            <img src="https://nld.mediacdn.vn/zoom/220_139/291774122806476800/2022/8/22/2998224376041557477861613172252575109298895n-1661179265077948041752.jpg" class="news__image"/>
          </a>
          <div class="news__info">
            <h6 class="news__link text-medium"><a [routerLink]="['/chi-tiet','https://nld.com.vn']">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
              có thể giật cấp 13 đang di chuyển nhanh hướng vào khu vực phía Bắc nước ta.
              Vùng biển phía Đông khu vực Bắc Biển Đông biển động mạnh, sóng biển cao từ 4-6 m
            </a></h6>
            <a [routerLink]="['/chi-tiet','https://nld.com.vn']"class="news__sapo">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
            </a>
            <a [routerLink]="['/chi-tiet','https://nld.com.vn']" class="news__sapo">
              (NLĐO)- Bão Ma-on đang giật cấp 10,
            </a>
          </div>
        </li>
      </ul>
      <div class="cate__list">
        <section class="tinnoibat">
          <h4 class="tinnoibat__header">
            Tin nổi bật
          </h4>
          <ul class="tinnoibat__list">
            <li class="tinnoibat__item">
              <a href="" class="tinnoibat__link"><img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/22/photo-1-16611630726401533261976.jpg" alt="" class="tinnoibat__image"></a>
              <h6 class="tinnoibat__title">
                <a href="">Campuchia bắt quản lý sòng bạc nơi 42 người Việt bỏ trốn</a>
              </h6>
            </li>
            <li class="tinnoibat__item">
              <a href="" class="tinnoibat__link"><img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/22/photo-1-16611630726401533261976.jpg" alt="" class="tinnoibat__image"></a>
              <h6 class="tinnoibat__title">
                <a href="">Campuchia bắt quản lý sòng bạc nơi 42 người Việt bỏ trốn</a>
              </h6>
            </li>
            <li class="tinnoibat__item">
              <a href="" class="tinnoibat__link"><img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/22/photo-1-16611630726401533261976.jpg" alt="" class="tinnoibat__image"></a>
              <h6 class="tinnoibat__title">
                <a href="">Campuchia bắt quản lý sòng bạc nơi 42 người Việt bỏ trốn</a>
              </h6>
            </li>
          </ul>
        </section>
        <section class="xemnhieunhat">
          <h4 class="tinnoibat__header">
            Xem nhiều nhất
          </h4>
          <ul class="xemnhieunhat__list">
            <li class="tinnoibat__item">
              <a href="" class="tinnoibat__link"><img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/22/photo-1-16611630726401533261976.jpg" alt="" class="tinnoibat__image"></a>
              <h6 class="tinnoibat__title">
                <a href="">Campuchia bắt quản lý sòng bạc nơi 42 người Việt bỏ trốn</a>
              </h6>
            </li>
            <li class="tinnoibat__item">
              <!--            <a href="" class="tinnoibat__link"><img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/22/photo-1-16611630726401533261976.jpg" alt="" class="tinnoibat__image"></a>-->
              <h6 class="tinnoibat__title">
                <a href="">Campuchia bắt quản lý sòng bạc nơi 42 người Việt bỏ trốn</a>
              </h6>
            </li>
            <li class="tinnoibat__item">
              <!--          <a href="" class="tinnoibat__link"><img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/22/photo-1-16611630726401533261976.jpg" alt="" class="tinnoibat__image"></a>-->
              <h6 class="tinnoibat__title">
                <a href="">Campuchia bắt quản lý sòng bạc nơi 42 người Việt bỏ trốn</a>
              </h6>
            </li>
          </ul>
        </section>

      </div>
    </div>
  </section>
  <section class="box-content--right">
    <app-advertisment></app-advertisment>
  </section>
</div>
</div>
