
<div class="container">
<div class="box-content">
  <section class="box-content--left" *ngIf="subCateList$ | async as subCateList">
    <ul class="sub-cate__list">
      <li class="sub-cate__item" *ngFor="let subCate of subCateList">
        <a class="sub-cate__link" [routerLink]="['/chi-tiet']">{{subCate.title}}</a>
      </li>
    </ul>
<div class="news--focus" *ngIf="focusNews$ | async as news">
  <div class="news--info" >
    <h3 class="news__title">
      <a [routerLink]="['/chi-tiet',news[0].link]">{{news[0].title}}</a>
    </h3>
    <p class="news__sapo">
      {{news[0].sapo}}
    </p>
  </div>
  <a href="" class="news__link">
    <img [src]="news[0].imgUrl" [alt]="news[0].imgAlt" class="news__image"/>
  </a>
</div>
    <div class="separator"></div>
    <div class="box-content__body">
      <ul class="news__list"  *ngIf="listNews$| async as listNews" >
        <li class="news__item" *ngFor="let news of listNews">
          <a [routerLink]="['/chi-tiet', news.link]" class="news__link">
            <img [src]="news.description.imgUrl" class="news__image"/>
          </a>
          <div class="news__info">
            <h6 class="news__link text-medium"><a [routerLink]="['/chi-tiet',news.link]">
             {{news.title}}
            </a></h6>
            <a [routerLink]="['/chi-tiet',news.infor.link1]"class="news__sapo">
              {{news.infor.title1}}
            </a>
            <a [routerLink]="['/chi-tiet',news.infor.link1]" class="news__sapo">
              {{news.infor.title2}}
            </a>
          </div>
        </li>
      </ul>
<!--      <div class="cate__list">-->
<!--        <section class="tinnoibat">-->
<!--          <h4 class="tinnoibat__header">-->
<!--            Tin nổi bật-->
<!--          </h4>-->
<!--          <ul class="tinnoibat__list" *ngIf="listNoiBatNews$ | async as listNoiBatNews">-->
<!--            <li class="tinnoibat__item" *ngFor="let news of listNoiBatNews">-->
<!--              <a [routerLink]="['/chi-tiet', news.link]" class="tinnoibat__link"><img [src]="news.imgUrl" [alt]="news.imgAlt" class="tinnoibat__image"></a>-->
<!--              <h6 class="tinnoibat__title">-->
<!--                <a [routerLink]="['/chi-tiet', news.link]">{{news.title}}</a>-->
<!--              </h6>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </section>-->
<!--        <section class="xemnhieunhat">-->
<!--          <h4 class="tinnoibat__header">-->
<!--            Xem nhiều nhất-->
<!--          </h4>-->
<!--          <ul class="xemnhieunhat__list" *ngIf="listXemNhieuNhatNews$ | async as listXemNhieuNhatNews">-->
<!--            <li class="xemnhieunhat__item" *ngFor="let news of listXemNhieuNhatNews; first as isFirst">-->
<!--              <ng-container *ngIf="isFirst; else notFirst">-->
<!--                <a [routerLink]="['/chi-tiet', news.link]" class="xemnhieunhat__link"><img [src]="news?.imgUrl" [alt]="news?.imgAlt" class="xemnhieunhat__image"></a>-->
<!--                <h6 class="xemnhieunhat__title">-->
<!--                  <a [routerLink]="['/chi-tiet', news.link]">{{news.title}}</a>-->
<!--                </h6>-->
<!--              </ng-container>-->
<!--              <ng-template #notFirst>-->
<!--                <h6 class="xemnhieunhat__title">-->
<!--                  <a [routerLink]="['/chi-tiet', news.link]">{{news.title}}</a>-->
<!--                </h6>-->
<!--              </ng-template>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </section>-->
<!--      </div>-->
    </div>
  </section>
  <section class="box-content--right">
    <app-advertisment></app-advertisment>
  </section>
</div>
</div>
