<p>cat-news-page works!</p>
<div class="container">
  <div class="img-first">
    <img src="https://cdnstoremedia.com/adt/cpc/tvcads/2022/08/1160x250f1-notvc_16609191079265.jpg">
  </div>
  <div class="list-category">
    <ul class="cat">
      <li>Quoc te</li>
      <li>Quoc te</li>
      <li>Quoc te</li>
      <li>Quoc te</li>
      <li>Quoc te</li>
      <li>Quoc te</li>
    </ul>
  </div>
  <div class="news-content">
    <app-first-news></app-first-news>

    <app-list-news></app-list-news>
  </div>
</div>
