.box-sub-cate {
  max-width: 208px;
}
.box-sub-cate__title {
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 14px;
  padding-left: 15px;
  text-transform: uppercase;
  position: relative;
}
.box-sub-cate__title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: translateY(-1px);
  background-color: #F05454;
}
.box-sub-cate__link {
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.box-sub-cate__link > h3 {
  position: absolute;
  bottom: -20px;
  left: 0;
  max-width: 174px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.box-sub-cate__sapo {
  margin-top: 40px;
  font-weight: 500;
}

.wrapper {
  margin-top: 40px;
  gap: 10px;
  display: flex;
}

.box-content {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.box-content__body {
  display: flex;
  gap: 20px;
}
.box-content--left {
  width: 830px;
}
.box-content--right {
  padding-top: 40px;
  flex: 1;
}
.box-content__top, .box-content__body {
  margin: 20px 0;
}

.box-content__header, .topics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.date {
  font-size: 14px;
  font-weight: 500;
}

.topic {
  padding: 7px 12px;
  border-radius: 20px;
  background-color: #f5f5f5;
}
.topic i {
  color: #F05454;
}
.topic__link {
  font-size: 14px;
  font-weight: 500;
}

.top-news {
  display: flex;
  gap: 20px;
}

.hot-news__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hot-news__content {
  display: flex;
  gap: 20px;
}
.hot-news__content--right {
  flex: 1;
}

.main-news {
  width: 544px;
}
.main-news__title {
  font-size: 30px;
  padding: 10px 0px;
}
.main-news__link {
  font-size: 30px;
  font-weight: bold;
}
.main-news__image {
  max-width: 100%;
  object-fit: cover;
}
.main-news__sapo {
  font-size: 13px;
  font-weight: 500;
}

.list-news-thumb {
  width: 258px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}
.list-news-thumb__list {
  margin: 10px;
  padding: 10px 10px 10px 48px;
  height: 456px;
  overflow-y: scroll;
  transition: all 0.6s linear;
}
.list-news-thumb__list:hover {
  transition: all 0.4s linear;
}
.list-news-thumb__list:hover::-webkit-scrollbar-thumb, .list-news-thumb__list:hover::-webkit-scrollbar-track {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s linear;
}
.list-news-thumb__list::-webkit-scrollbar {
  width: 4px;
}
.list-news-thumb__list::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
}
.list-news-thumb__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
}
.list-news-thumb__list::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}
.list-news-thumb__item {
  list-style-type: circle;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.news--focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.news--info {
  max-width: 290px;
  margin-bottom: 40px;
}
.news__list {
  max-width: 547px;
  flex-shrink: 0;
}
.news__item {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.news__link {
  display: flex;
  flex-shrink: 0;
}
.news__title {
  font-size: 24px;
  margin-bottom: 4px;
  font-weight: bold;
}
.news__info {
  display: flex;
  padding: 4px;
  flex-direction: column;
}
.news__title {
  margin-bottom: 4px;
}
.news__sapo {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 500;
}
.news-horizontal {
  display: flex;
  gap: 10px;
}

.sub-cate__list {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 4px;
  border-bottom: 1.5px solid #dddddd;
}
.sub-cate__item:first-of-type {
  color: #0b5ed7;
  border-bottom: 3px solid currentColor;
  text-transform: uppercase;
}
.sub-cate__list.cate__list--horizontal {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  gap: 12px;
}
.sub-cate__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}
.sub-cate__content img {
  width: 246px;
  height: 155px;
  flex-shrink: 0;
}
.sub-cate__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 12px 20px;
  font-size: 16px;
  color: #0959ab;
}
.sub-cate__title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.sub-cate__view-all {
  font-size: 11px;
  font-style: italic;
  color: #ccc;
}
.sub-cate__link {
  display: inline-block;
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
}

.vietlott {
  width: 258px;
}
.vietlott__box {
  background-color: #f5f5f5;
  padding: 20px;
}
.vietlott__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.vietlott__title {
  font-size: 12px;
  margin: 0;
}
.vietlott__img {
  width: 80px;
  height: 20px;
}
.vietlott__img img {
  max-width: 100%;
  object-fit: cover;
}
.vietlott__first-number {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}
.vietlott__time {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.vietlott__first-number--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid #bfbfbf;
  color: #F05454;
}
.vietlott__value > * {
  color: #666;
}
.vietlott__value-text {
  color: #F05454;
  font-size: 11px;
  font-weight: bold;
}
.vietlott__link {
  font-weight: bold;
}

.box-location {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.tinnoibat, .xemnhieunhat {
  border: 1px solid #f0f0f0;
}
.tinnoibat__header, .xemnhieunhat__header {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.tinnoibat__list, .xemnhieunhat__list {
  padding: 20px;
}
.tinnoibat__item, .xemnhieunhat__item {
  margin-bottom: 16px;
  padding-bottom: 4px;
  border-bottom: 1px solid #f0f0f0;
}
.tinnoibat__title, .xemnhieunhat__title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 24px;
  line-height: 22px;
}

/*# sourceMappingURL=cat-news-page.component.css.map */
