.content-news{
  //width:67%;
}
.new-info{
  margin-left: 20px;
}

.content-news .list-item-news > li{
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: solid #eaeaea 1px;;
}

.new-info{
  li{
    margin-top:5px;
  }
}

img{
  width: 220px;
  height: 139px;
}

li{
  display:flex;
  flex-direction: row;

}



