.content-news{
  //width:67%;
}
.new-info{
  margin-left: 20px;
}

.content-news .list-item-news > li{
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: solid #eaeaea 1px;;
}

.new-info{
  display: flex;
  content: "";
  align-items: center;
  justify-items: center;
}

#image{
  min-width: 220px;
  max-width: 220px;
  height: 120px;
}

li{
  display:flex;
  flex-direction: row;

}



