<div class="container">
  <div class="content-news">

    <ul class="list-item-news">
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <img
            src="https://nld.mediacdn.vn/zoom/435_273/291774122806476800/2022/8/21/img20220821100200-16610523549281778149773.jpg"
            alt="">
        </a>

        <div class="new-info">
          <h3 class="main-link"><a>Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></h3>
          <ul class="text-content">
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>
            <li><a href="">Bình chánh có 321 trường hợp bị ảnh hưởng bởi dự án vành đai 3</a></li>

          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>






