<section class="footer mt-[35px]">
  <div class="container">
   <div class="footer__menu bg-primary h-[30px]">
     <app-menu></app-menu>
   </div>
    <div class="footer__container pt-[34px]">
      <div class="footer__content flex py-6 gap-3">
        <div class="footer__box">
          <p class="title text-[14px] font-bold mb-2">
            Báo người lao động điện tử
          </p>
          <p class="sapo text-[11px] font-bold mb-3.5">CƠ QUAN CHỦ QUẢN: THÀNH ỦY THÀNH PHỐ HỒ CHÍ MINH</p>
          <div class="footer__box-content flex gap-3 mb-3 text-[13px] font-medium text-[#454545]">
            <p class="certification max-w-[216px] leading-5">
              © Giấy phép số 115/GP- BTTTT cấp ngày 09 tháng 02 năm 2021 của Bộ Thông tin và Truyền thông
            </p>
            <div class="manager pr-3">
              <p>Tổng Biên tập: TÔ ĐÌNH TUÂN</p>
              <p class="my-2">Phó Tổng Biên tập: DƯƠNG QUANG, BÙI THANH LIÊM</p>
              <p>Tổng Thư ký Tòa soạn: LÊ CƯỜNG</p>
            </div>
          </div>
          <div class="download__app flex items-center gap-3 pr-6">
            <h3 class="download__title text-[12px] font-bold">Tải ứng dụng đọc báo Người Lao Động</h3>
            <a href="" class="download__app-btn">
              <img class="max-w-[125px]" src="https://static.mediacdn.vn/thumb_w/150/nld/Images/app-store-v1.png" alt="">
            </a>
            <a href="" class="download__app-btn">
              <img class="max-w-[125px]" src="https://static.mediacdn.vn/thumb_w/150/nld/Images/app-store-v1.png" alt="">
            </a>
          </div>
        </div>
        <div class="footer__box box__address max-w-[275px] border-x-[1px] border-[#eee] px-3">
          <p class="title">Trụ sở chính</p>
          <div class="address">
            <p class="leading-5">127 Võ Văn Tần, Phường Võ Thị Sáu, Quận 3 - TPHCM</p>
            <p class="my-2">Điện thoại: 028-3930.6262 / 028-3930.5376</p>
            <p>Fax: 028-3930.4707</p>
          </div>
        </div>
        <div class="footer__box box__contact">
          <div class="title">Liên hệ quảng cáo</div>
         <div class="box__contact-content flex items-center gap-3">
           <a class="designer w-[93px] h-[45px] bg-primary block mt-[30px]">
             <img src="" alt="">
           </a>
           <div class="address">
             <p>doanhnghiep@admicro.vn</p>
             <p>0942.86.11.33</p>
           </div>
         </div>
        </div>
      </div>
    </div>
    <div class="footer__notification my-6">
      <p class="text-[13px] text-[#454545] font-medium">Bản quyền thuộc về Báo Người Lao Động. Các website khác đã được chúng tôi đồng ý cho khai thác thông tin, khi đăng lại phải ghi rõ nguồn: Theo Báo Người Lao Động (www.nld.com.vn).</p>
    </div>
  </div>
</section>
