
<section class="header">
  <div class="header__top bg-[#eee] py-2 text-[11px] ">
    <div class="container flex justify-between items-center">
    <p class="hotline font-medium">
      <span class="">
        <span class="mr-1 uppercase">Hotline:</span>
        <span>0903.343.439</span>
      </span>
      <span class="mx-2">
        <span class="mr-1 uppercase">Hotline phát hành:</span>
        <span>0819.123.127</span>
      </span>
      <span class="uppercase">Đặt mua báo</span>
    </p>
    <div class="social flex justify-between items-center gap-3">
      <a href="" class="flex gap-1 items-center border-l-[1px] border-r-[1px] border-[#d8d8d8] px-2">
        <i class='bx bx-send text-sm text-primary'></i>
        <span class="uppercase font-medium">Gửi tin bài</span>
      </a>
      <a href="">
        <i class='bx bxl-youtube text-xl text-[#DC2626]'></i>
      </a>
      <a href="">
        <i class='bx bxl-facebook text-xl text-primary' ></i>
      </a>
      <a class="flex justify-between items-center gap-1 bg-[#03a5fa] text-[#fff] p-1 rounded-[4px]" href="" >
        <img class="w-[12px]" src="https://sp.zalo.me/static/follow/images/logo_white_s_2x.png" alt="icon__zalo">
        <span>Quan tâm</span>
      </a>
      <a href="">
        <img class="w-[40px]" src="https://static.mediacdn.vn/nld/web_images/rss.jpg" alt="icon__rss">
      </a>
    </div>
    </div>
  </div>
  <div class="header__content py-4">
    <div class="container flex justify-between">
      <a href="" class="logo">
        <h1 class="uppercase font-extrabold text-[#DC2626] text-4xl">Người nghiện</h1>
      </a>
      <div class="topic">
        <ul class="topic__list uppercase text-[10px] font-medium flex items-center justify-between gap-2.5" >
          <li class="flex flex-col items-center">
            <i class='bx bx-search-alt text-2xl' ></i>
            <span>Tìm việc - tuyển người</span>
          </li>
          <li class="flex flex-col items-center">
            <i class='bx bxs-user text-2xl'></i>
            <span>Lý tưởng sống</span>
          </li>
          <li class="flex flex-col items-center">
            <i class='bx bx-laptop text-2xl' ></i>
            <span>Multimedia</span>
          </li>
          <li class="flex flex-col items-center">
            <i class='bx bxs-message-alt-detail text-2xl' ></i>
            <span>Nói thẳng</span>
          </li>
          <li class="flex flex-col items-center">
            <i class='bx bxs-microphone-alt text-2xl' ></i>
            <span>Trích dẫn nóng</span>
          </li>
          <li class="flex flex-col items-center">
            <i class='bx bx-star text-2xl' ></i>
            <span>Tin độc quyền</span>
          </li>
          <li class="flex flex-col items-center">
            <i class='bx bx-world text-2xl' ></i>
            <span>Thị trường</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header__menu bg-primary">
    <div class="container h-[30px]">
      <app-menu></app-menu>
    </div>
  </div>
</section>

