<section class="content">
  <div class="container">
   <div class="content__header text-[14px] font-medium flex justify-between items-center">
     <div class="content__current-time">
       Thứ Năm, ngày 30 tháng 6 năm 2022
     </div>
     <div class="hot__news flex items-center justify-between gap-3">
       <i class='bx bxs-hot text-[#dc2626] mr-2'></i>
       <div class="hot__news-item bg-[#eee] px-[12px] py-[7px] rounded-2xl">
         <a href="" class="hot_-news-link">
           #Xung đột Nga - Ukraina
         </a>
       </div>
       <div class="hot__news-item bg-[#eee] px-[12px] py-[7px] rounded-2xl">
         <a href="" class="hot_-news-link">
           #Xung đột Nga - Ukraina
         </a>
       </div>
       <div class="hot__news-item bg-[#eee] px-[12px] py-[7px] rounded-2xl">
         <a href="" class="hot_-news-link">
           #Xung đột Nga - Ukraina
         </a>
       </div>
     </div>
   </div>
    <div class="content__box my-5 flex">
      <div class="content__box-left">
        <div class="content__news-top flex">
          <div class="content__news-main max-w-[544px] pb-2">
            <a href="" class="p-1 w-[544px] h-[340px] block">
              <img class="rounded-[4px] w-full h-full block" src="https://nld.mediacdn.vn/zoom/544_340/291774122806476800/2022/6/30/edit-1-16565896653611858823016.jpeg" alt="">
            </a >
            <div class="content__gradient px-2">
              <h3 class="content__news-title text-3xl mb-4 font-bold">
                Tiền đưa hối lộ trong vụ Cục Lãnh sự lên tới hàng tỉ đồng, hàng trăm ngàn USD
              </h3>
              <p class="content__news-desc text-[13px] leading-5 font-medium">
                (NLĐO)- Đại diện Bộ Công an cho biết cơ quan chức năng xác định số tiền đưa, nhận hối lộ trong vụ Cục Lãnh sự (Bộ Ngoại giao) lên đến hàng chục tỉ đồng và hàng trăm ngàn USD.
              </p>
            </div>
          </div>
          <div class="content__news-thumbs ml-4 max-w-[275px]  border-solid border-l-[1px] border-r-[1px] border-[#e9e9e9]">
            <div class="tabs uppercase text-[14px] font-bold border-b-2 border-[#e9e9e9] flex justify-around">
              <a href="" class="tab__item border-t-primary border-t-[2px] p-3 block">Tin nóng</a>
              <a href="" class="tab__item p-3 block">Tin mới</a>
            </div>
            <div class="tab-content py-[10px] flex flex-col gap-2 max-h-[436px] overflow-y-scroll">
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
              <div class="content__news-thumb news-thumb-item text-[14px] font-bold border-b-2 border-[#e9e9e9] p-4">
                <a href="" class="news-thumb-link">
                  Lithuania có thể dỡ phong tỏa vùng Kaliningrad của Nga
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="content__news-other flex gap-3">
          <div class="news__other-item max-w-[196px]">
            <a href="" class="news__other-link block mb-2">
              <img src="https://nld.mediacdn.vn/zoom/196_127/291774122806476800/2022/6/30/long-tuan-1656583763532147586242.jpg" alt="">
            </a>
            <a href="" class="text-[15px] font-bold">
              Bộ Công an bác bỏ thông tin ông Nguyễn Thanh Long, Nguyễn Quang Tuấn tử vong
            </a>
          </div>
          <div class="news__other-item max-w-[196px]">
            <a href="" class="news__other-link block mb-2">
              <img src="https://nld.mediacdn.vn/zoom/196_127/291774122806476800/2022/6/30/long-tuan-1656583763532147586242.jpg" alt="">
            </a>
            <a href="" class="text-[15px] font-bold">
              Bộ Công an bác bỏ thông tin ông Nguyễn Thanh Long, Nguyễn Quang Tuấn tử vong
            </a>
          </div>
          <div class="news__other-item max-w-[196px]">
            <a href="" class="news__other-link block mb-2">
              <img src="https://nld.mediacdn.vn/zoom/196_127/291774122806476800/2022/6/30/long-tuan-1656583763532147586242.jpg" alt="">
            </a>
            <a href="" class="text-[15px] font-bold">
              Bộ Công an bác bỏ thông tin ông Nguyễn Thanh Long, Nguyễn Quang Tuấn tử vong
            </a>
          </div>
          <div class="news__other-item max-w-[196px]">
            <a href="" class="news__other-link block mb-2">
              <img src="https://nld.mediacdn.vn/zoom/196_127/291774122806476800/2022/6/30/long-tuan-1656583763532147586242.jpg" alt="">
            </a>
            <a href="" class="text-[15px] font-bold">
              Bộ Công an bác bỏ thông tin ông Nguyễn Thanh Long, Nguyễn Quang Tuấn tử vong
            </a>
          </div>
        </div>
      </div>
      <div class="content__box-right ml-6 w-[300px] bg-[#e9e9e9]">
        <div class="advertise__main flex flex-col gap-3">
          <div class="advertise__item bg-primary h-[300px] cursor-pointer"></div>
          <div class="advertise__item bg-primary h-[300px] cursor-pointer"></div>
        </div>
      </div>
    </div>
  </div>
</section>
