<div class="box">
  <div class="box__header">
    <h3 class="box__title">Cung chuyen muc</h3>
    <div class="box__date">
      <label class="box__date-label">Xem theo ngay</label>
      <select name="" class="box__select-day">
        <option value="" class="box__day-option">20</option>
      </select>
      <select name="" class="box__select-month">
        <option value="" class="box__month-option">20</option>
      </select>
      <select name="" class="box__select-year">
        <option value="" class="box__year-option">20</option>
      </select>
      <button class="btn__search">Xem</button>
    </div>
  </div>
  <div class="box__content">
    <div class="box__list">
      <div class="box__first-news">
        <a href="box__item-image" class="" title="Tỉ phú Trần Bá Dương đặt mục tiêu doanh thu 1 tỉ USD cho Emart">
          <img
            src="https://nld.mediacdn.vn/zoom/503_313/291774122806476800/2022/8/6/lht06919-1659748952430929325218.jpg"
            alt="" class="">
          <p class="box__item-title first-news__title">Tỉ phú Trần Bá Dương đặt mục tiêu doanh thu 1 tỉ USD cho
            Emart</p>
        </a>
      </div>
      <div class="box__second-news">
        <a href="" class="box__item-image" title="Tỉ phú Trần Bá Dương đặt mục tiêu doanh thu 1 tỉ USD cho Emart">
          <img
            src="https://nld.mediacdn.vn/zoom/503_313/291774122806476800/2022/8/6/lht06919-1659748952430929325218.jpg"
            alt="" class="">
        </a>
        <a href="" class="box__item-title">Huy động công ty tài chính "dập" tín dụng đen</a>
        <p class="box__item-sapo">Gói tín dụng tiêu dùng 20.000 tỉ đồng sẽ được triển khai ngay trong tháng 8 này với
          lãi suất bằng 50% thị trường</p>
      </div>
      <ul class="box__third-news">
        <li class="box__item">
          <a href="" class="box__item-title">Giá vàng hôm nay 6-8: Bị bán tháo</a>
          <a href="" class="box__item-link"><img
            src="https://nld.mediacdn.vn/zoom/108_68/291774122806476800/2022/8/6/dsc1807-16597412140481944584841.jpg"
            alt="" class="box__item-image"></a>
        </li>
        <li class="box__item">
          <a href="" class="box__item-title">Giá vàng hôm nay 6-8: Bị bán tháo</a>
          <a href="" class="box__item-link"><img
            src="https://nld.mediacdn.vn/zoom/108_68/291774122806476800/2022/8/6/dsc1807-16597412140481944584841.jpg"
            alt="" class="box__item-image"></a>
        </li>
        <li class="box__item">
          <a href="" class="box__item-title">Giá vàng hôm nay 6-8: Bị bán tháo</a>
          <a href="" class="box__item-link"><img
            src="https://nld.mediacdn.vn/zoom/108_68/291774122806476800/2022/8/6/dsc1807-16597412140481944584841.jpg"
            alt="" class="box__item-image"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
