<div class="container">
  <div class="line"></div>
  <div class="frame">

    <div class="news">
      <h2>MULTIMEDIA</h2>
      <div class="content">
        <div class="one-news">
          <div class="img_show">
            <img src="https://ts.hust.edu.vn/public/uploads/m9il-thi-thptqg-121.png" width="500" height="600">
          </div>
          <div class="news-title"><a href="#"><h3>100% thí sinh trượt kỳ thi THPTQG 2022</h3></a></div>

        </div>
        <div class="grid-news grid-container">
          <app-item class="grid-item"></app-item>
          <app-item class="grid-item"></app-item>
          <app-item class="grid-item"></app-item>
          <app-item class="grid-item"></app-item>
        </div>
      </div>

    </div>
    <div class="media">
      <ul>
        <li>
          <a href="#"><i class="fas fa-photo-video"></i></a></li>
        <li>
          <a href="#"><i class="fas fa-photo-video"></i></a></li>
        <li>
          <a href="#"><i class="fas fa-photo-video"></i></a></li>
        <li>
          <a href="#"><i class="fas fa-photo-video"></i></a></li>
      </ul>
    </div>
  </div>

</div>



