
<app-hot-news [data] = "data"></app-hot-news>
<app-news-row></app-news-row>
<app-weather-panel></app-weather-panel>
<app-box-news-content></app-box-news-content>
<!--<<<<<<< HEAD-->
<app-box-home-ngang></app-box-home-ngang>
<app-box-media></app-box-media>
<app-box-locations></app-box-locations>

<!--=======-->
<app-box-cate-home></app-box-cate-home>
<app-box-cate-home></app-box-cate-home>
<app-box-cate-home></app-box-cate-home>
<app-box-cate-home></app-box-cate-home>
<app-box-cate-home></app-box-cate-home>
<app-box-cate-home></app-box-cate-home>
<app-box-cate-home></app-box-cate-home>
<!--&gt;>>>>>> ade4954534327253f4c03c5810a9379f23ed1b2d-->

