<div class="container">
  <div class="weather_panel">
    <div class="weather_content weather_item">
      <div class="weather_selection">
        <p class="weather_title">Thời tiết</p>
        <div class="weather_select">
          <select name="weather_address" id="weather_address">
            <option value="TP Hồ Chí Minh">TP Hồ Chí Minh</option>
            <option value="Bình Thuận">Bình Thuận</option>
            <option value="Tây Ninh">Tây Ninh</option>
            <option value="Hà Nội">Hà Nội</option>
          </select>
        </div>
      </div>
      <div class="weather_data">
        <div class="weather_icon">
          <img src="https://static.mediacdn.vn/nld/Images/ThoiTiet/ThoiTiet2/nang.png" alt="">
        </div>
        <div class="temperature">20 <sup>o</sup>C
          <p class="temperature_des">Nhiều Nắng</p></div>

      </div>
    </div>
    <div class="gold_data weather_item">
      <div class="gold_title">Tỷ Giá</div>
      <div class="gold_VND gold_currency">
        <span class="gold_vnd_icon"></span>
        <p class="gold_vnd_content gold_currency_item">20000</p>
      </div>
      <div class="gold_SJC gold_currency">
        <span class="gold_SJC_title">SJC</span>
        <p class="gold_SJC_content gold_currency_item">656/Lượng</p>
      </div>
    </div>
    <div class="stock_data weather_item">
      <a href="https://info.acbs.com.vn/" title="Thị trường chứng khoán" target="_blank" rel="nofollow">
        <img src="https://static.mediacdn.vn/nld/Images/chungkhoan.png" alt="https://info.acbs.com.vn/" height="40">
      </a>
    </div>
    <div class="Lottery_content weather_item">
      <div class="Lottery_icon">
        <img src="https://static.mediacdn.vn/nld/Images/icon_list.png">
        <a href="" class="Lotter_link">Kết quả xổ số</a>
      </div>
    </div>
    <div class="Lottery_market weather_item">
      <a class="Lottery_market_content">
        <p class="Lottery_market_title"> chọn vé số</p>
        <img src="https://static.mediacdn.vn/nld/web_images/Logo-Vesoonline.png" alt="">
      </a>

    </div>
  </div>
</div>
