<ul class="text-[#fff] header__menu-list flex items-center overflow-hidden h-full">
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <i class='bx bxs-home-smile text-base' ></i>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Trong nước</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Quốc tế</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Công đoàn</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Bạn đọc</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Kinh tế</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Sức khỏe</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span> Trong nước</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Giáo dục</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Pháp luật</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Văn nghệ</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Giải trí</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Thể thao</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Công nghệ</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Du lịch xanh</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Phụ nữ</span>
    </a>
  </li>
  <li class="header__menu-item">
    <a href="" class="header__menu-link">
      <span>Địa ốc</span>
    </a>
  </li>
  <li class="header__menu-item ml-auto">
    <a href="" class="header__menu-link">
      <i class='bx bx-search text-base'></i>
    </a>
  </li>
</ul>
