<ngx-skeleton-loader *ngIf="detailLoading;else detailLoaded" appearance="line" [theme]="{

width: '800px',
    height: '1000px',

    'border-radius': 0
  }"></ngx-skeleton-loader>
<ng-template #detailLoaded>
  <ng-container *ngFor="let item of data; let first= first">
    <div class="body-news" *ngIf="first;">
      <h1 class="title-content" data-field="title">
        {{item.title}}
      </h1>
      <div class="top-share">
        <p class="dateandcat clearfix">
          <span class="pdate fl" data-field="createddate">28-07-2022 - 08:47</span>
          <span class="line-middle">| </span>
          <a href="/thoi-su.htm" title="Trong nước" class="cat fl">Trong nước</a>
        </p>
        <div class="options">
          <div class="fb">
            <button class="share-like">
              <h4><i class="fab fa-facebook"></i>Chia sẻ</h4>
              <share-buttons theme="circles-dark"
                             [include]="['facebook']"
                             [showIcon]="false"
                             [url]="url"
                             class="d-flex"
              >
              </share-buttons>
            </button>
          </div>
          <div class="audio">
            <button class="audio__btn" (click)="playAudio('item.url')">Nghe tin bài<i class="fas fa-microphone"></i>
            </button>
          </div>
        </div>
        <div class="clear-both"></div>
      </div>

      <h2 class="news_title-detail">
        {{item.title_detail}}
      </h2>

      <div class="news-content">
        <div class="contentbody" id="content-id">
          <div class="content-news-detail old-news">
            <span [innerHTML]="item.content"></span>
          </div>
          <br>
          <span class="author">
       {{item.author}}</span>
          <div class="clearfix"></div>
        </div>
      </div>


      <div class="bot-share">
        <div class="fb">
          <button class="share-like">
            <h4><i class="fab fa-facebook"></i>Chia sẻ</h4>
            <share-buttons theme="circles-dark"
                           [include]="['facebook']"
                           [showIcon]="false"
                           [url]="url"
                           class="d-flex"
            >
            </share-buttons>
          </button>
        </div>

        <div class="clear-both"></div>
        <div id="end-social"></div>
      </div>
    </div>

  </ng-container>
</ng-template>
