<ngx-skeleton-loader *ngIf="isLoading;else detailLoaded" appearance="line" [theme]="{
    height: '35 0px',
    'border-radius': 0
  }"></ngx-skeleton-loader>
<ng-template #detailLoaded>
  <div class="container">
    <div class="content-news">
      <div class="text-content">
        <h3>{{data.title}}</h3>
        <p> {{data.content}}</p>
      </div>
      <a [routerLink]="['/chi-tiet',data.link]">
        <img [src]="data.urlImg" [alt]="data.alt">
      </a>
    </div>
  </div>
</ng-template>
