.content-news{
  display:flex;
  flex-direction: row;
  color: black;
  border-bottom: dotted #c7c7c7 2px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.text-content{
  width: 40%;
  margin-top: 30px;
  padding-right:50px;
}

img{
  width: 435px;
  height: 273px;
}
