<div class="container">
  <section class="box-cate-home">
    <div class="box-cate-home__container">
      <div class="box-cate-home__header">
        <h2 class="box-cate-home__title">
          <a href="" class="box-cate-home__link">Trong nuoc</a>
        </h2>
        <ul class="box-cate-home__sub-cate-list">
          <li class="box-cate-home__sub-cate-item">
            <a href="" class="box-cate-home__sub-cate-link">Chinh tri</a>
          </li>
          <li class="box-cate-home__sub-cate-item">
            <a href="" class="box-cate-home__sub-cate-link">Chinh tri</a>
          </li>
          <li class="box-cate-home__sub-cate-item">
            <a href="" class="box-cate-home__sub-cate-link">Chinh tri</a>
          </li>
          <li class="box-cate-home__sub-cate-item">
            <a href="" class="box-cate-home__sub-cate-link">Chinh tri</a>
          </li>
          <li class="box-cate-home__sub-cate-item">
            <a href="" class="box-cate-home__sub-cate-link">Chinh tri</a>
          </li>
        </ul>
      </div>
      <div class="box-cate-home__content">
        <div class="box-cate-home__content--left">
          <div class="news-main">
            <a href="https://nld.com.vn/thoi-su/xung-dang-la-tieng-noi-cua-nguoi-lao-dong-2022072720462701.htm" class="news-main__link">
              <img src="https://nld.mediacdn.vn/zoom/256_160/291774122806476800/2022/7/27/7-chuong-trinh-thuc-pham-mien-phi-1658927376128514971215.jpg" alt="" class="news-main__img">
            </a>
            <p class="news-main__title">
              <a href="Báo Người Lao Động: Xứng đáng là tiếng nói của người lao động" title="Báo Người Lao Động: Xứng đáng là tiếng nói của người lao động">
                Báo Người Lao Động: Xứng đáng là tiếng nói của người lao động
              </a>
            </p>
            <p class="news-main__sapo">
              Báo Người Lao Động luôn bám sát tôn chỉ, mục đích: Tiếng nói của người lao động, phục vụ lợi ích chính đáng của người lao động; đồng thời tạo nên được nét riêng với những hoạt động ...
            </p>
          </div>
          <ul class="sub-news-list">
            <li class="sub-news-item">
              <a href="https://nld.com.vn/chinh-tri/bao-nguoi-lao-dong-long-trong-ky-niem-47-nam-thanh-lap-20220728101436612.htm" class="sub-news-img"><img src="https://nld.mediacdn.vn/zoom/114_71/291774122806476800/2022/7/28/dai-bieu-1-16589772950181491208943.jpg" alt=""></a>
              <h3 class="sub-news-link">
                <a href="https://nld.com.vn/chinh-tri/bao-nguoi-lao-dong-long-trong-ky-niem-47-nam-thanh-lap-20220728101436612.htm">
                  Báo Người Lao Động long trọng kỷ niệm 47 năm thành lập
                </a>
              </h3>
            </li>
            <li class="sub-news-item">
              <a href="https://nld.com.vn/chinh-tri/bao-nguoi-lao-dong-long-trong-ky-niem-47-nam-thanh-lap-20220728101436612.htm" class="sub-news-img"><img src="https://nld.mediacdn.vn/zoom/114_71/291774122806476800/2022/7/28/dai-bieu-1-16589772950181491208943.jpg" alt=""></a>
              <h3 class="sub-news-link">
                <a href="https://nld.com.vn/chinh-tri/bao-nguoi-lao-dong-long-trong-ky-niem-47-nam-thanh-lap-20220728101436612.htm">
                  Báo Người Lao Động long trọng kỷ niệm 47 năm thành lập
                </a>
              </h3>
            </li>
            <li class="sub-news-item">
              <a href="https://nld.com.vn/chinh-tri/bao-nguoi-lao-dong-long-trong-ky-niem-47-nam-thanh-lap-20220728101436612.htm" class="sub-news-img"><img src="https://nld.mediacdn.vn/zoom/114_71/291774122806476800/2022/7/28/dai-bieu-1-16589772950181491208943.jpg" alt=""></a>
              <h3 class="sub-news-link">
                <a href="https://nld.com.vn/chinh-tri/bao-nguoi-lao-dong-long-trong-ky-niem-47-nam-thanh-lap-20220728101436612.htm">
                  Báo Người Lao Động long trọng kỷ niệm 47 năm thành lập
                </a>
              </h3>
            </li>
            <li class="sub-news-item">
              <a href="https://nld.com.vn/chinh-tri/bao-nguoi-lao-dong-long-trong-ky-niem-47-nam-thanh-lap-20220728101436612.htm" class="sub-news-img"><img src="https://nld.mediacdn.vn/zoom/114_71/291774122806476800/2022/7/28/dai-bieu-1-16589772950181491208943.jpg" alt=""></a>
              <h3 class="sub-news-link">
                <a href="https://nld.com.vn/chinh-tri/bao-nguoi-lao-dong-long-trong-ky-niem-47-nam-thanh-lap-20220728101436612.htm">
                  Báo Người Lao Động long trọng kỷ niệm 47 năm thành lập
                </a>
              </h3>
            </li>
          </ul>
        </div>
        <div class="box-cate-home__content--right">
          <ng-content select=".box-sub-cate"></ng-content>
        </div>
      </div>
    </div>
  </section>
</div>
