<section class="vietlott">
  <div class="vietlott__box">
    <div class="vietlott__header">
      <h1 class="vietlott__title">Kết quả sổ xố tự chọn</h1>
      <div class="vietlott__img">
        <img src="https://static.mediacdn.vn/nld/web_images/logovietlott-nbg.png" alt="vietlott">
      </div>
    </div>
    <mdb-carousel [controls]="false">
      <mdb-carousel-item [interval]="1200" class="vietlott__content">
        <span class="vietlott__time">Power 6/55 kỳ 00753 - 23/07/2022</span>
        <ul class="vietlott__first-number">
          <li class="vietlott__first-number--item">01</li>
          <li class="vietlott__first-number--item">01</li>
          <li class="vietlott__first-number--item">01</li>
          <li class="vietlott__first-number--item">01</li>
          <li class="vietlott__first-number--item">01</li>
        </ul>
        <div class="vietlott__value">
          <p>Jackpot:<span class="vietlott__value-text"> 19.213.123.211 </span>VND</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item [interval]="1200" class="vietlott__content">
        <span class="vietlott__time">Power 6/55 kỳ 00753 - 23/07/2022</span>
        <ul class="vietlott__first-number">
          <li class="vietlott__first-number--item">01</li>
          <li class="vietlott__first-number--item">01</li>
          <li class="vietlott__first-number--item">01</li>
          <li class="vietlott__first-number--item">01</li>
          <li class="vietlott__first-number--item">01</li>
        </ul>
        <div class="vietlott__value">
          <p>Jackpot:<span class="vietlott__value-text"> 19.213.123.211 </span>VND</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
    <a href="" class="vietlott__link">
      Xem kết quả Max 3D, 3D PRO, KENO tại đây
    </a>
  </div>
</section>
