
  <div class="item">
    <div class="img-show">
      <a href="https://google.com"> <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHKxNAfsR02FR9XeW3o9-MQse6vqL04OTN9A&usqp=CAU"></a>
    </div>
    <div class="news-title">
A
      <div class="link1"><a>Phong phú hoạt động chăm lo cho đoàn viên - lao động</a></div>
      <ul>
        <li>
         <a href="#">Bí thư Hòa Bình Ngô Văn Tuấn phụ trách Kiểm toán Nhà nước</a>
        </li>
        <li>
          <a href="#">Bắt giam Chủ tịch HĐQT Công ty CP Khí hóa lỏng Đồng Tháp</a>

        </li>
      </ul>
    </div>
  </div>

