<div class="box-item">
  <div class="header-cate clearfix">
    <a href="/noi-thang.htm" title="Nói thẳng" class="title">Nói thẳng</a>
    <a href="/noi-thang.htm" title="Xem tất cả" class="view-more">Xem tất cả</a>
  </div>
  <div class="news-item">
    <a href="/noi-thang/noi-thang-om-nha-cong-vu-long-tham-va-su-tu-trong-20220713123500115.htm" title="&quot;Ôm&quot; nhà công vụ - Lòng tham và sự tự trọng" class="img216x133" data-newstype="0">
      <img src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/7/13/ava-noi-thang-13-7-1657722263411768497465.jpg" alt="&quot;Ôm&quot; nhà công vụ - Lòng tham và sự tự trọng" class="img216x133">
    </a>
    <h3><a href="/noi-thang/noi-thang-om-nha-cong-vu-long-tham-va-su-tu-trong-20220713123500115.htm" data-newstypetitle="0" data-newsid="20220713123500115" class="title" title="&quot;Ôm&quot; nhà công vụ - Lòng tham và sự tự trọng">"Ôm" nhà công vụ - Lòng tham và sự tự trọng</a></h3>
    <div class="news-info clearfix">
      <div class="icon-views" style="display: none;"></div>
      <div class="number-views get-views" data-newsid="20220713123500115" style="display: none;"><span>0</span> người quan tâm</div>
    </div>
  </div>
</div>
