<div class="container">
  <div class="content">
    <div class="cat-item">
      <div class="category-name">TIN NỔI BẬT</div>
      <div class="list-news">
        <ul class="list-news-item">
          <li>
            <div class="content-item">
              <a href=""><img
                src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/21/edit-photo-1-1661048065139992738752.jpeg"
                alt=""></a>
              <h5><a href="">Tân quyền bộ trưởng y tế Đào Hồng Lan nêu 14 lí do tồn tại, hạn chế của ngành</a></h5>
            </div>

          </li>
          <li>
            <div class="content-item">
              <a href=""><img
                src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/21/edit-photo-1-1661048065139992738752.jpeg"
                alt=""></a>
              <h5><a href="">Tân quyền bộ trưởng y tế Đào Hồng Lan nêu 14 lí do tồn tại, hạn chế của ngành</a></h5>
            </div>

          </li>
          <li>
            <div class="content-item">
              <a href=""><img
                src="https://nld.mediacdn.vn/zoom/216_133/291774122806476800/2022/8/21/edit-photo-1-1661048065139992738752.jpeg"
                alt=""></a>
              <h5><a href="">Tân quyền bộ trưởng y tế Đào Hồng Lan nêu 14 lí do tồn tại, hạn chế của ngành</a></h5>
            </div>

          </li>
        </ul>
      </div>


    </div>
  </div>
</div>
