<ng-container *ngIf="isNoiBat;else xemNhieu">
  <div class="container">
    <div class="content">
      <div class="cat-item">
        <div class="category-name">{{title}}</div>
        <div class="list-news">
          <ul class="list-news-item" *ngFor="let item of data">
            <li>
              <div class="content-item">
                <a [routerLink]="['/chi-tiet',item.link]"><img
                  [src]="item.urlImg"
                  alt=""></a>
                <h5><a [routerLink]="['/chi-tiet',item.link]">{{item.title}}</a></h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #xemNhieu>
  <div class="container">
    <div class="content">
      <div class="cat-item">
        <div class="category-name">{{title}}</div>
        <div class="list-news">
          <ul class="list-news-item" *ngFor="let item of data;let first = first">
            <li>
              <div class="content-item">
                <ng-container *ngIf="first">
                  <a [routerLink]="['/chi-tiet',item.link]"><img
                    [src]="item.urlImg"
                    alt=""></a>
                </ng-container>
                <h5><a [routerLink]="['/chi-tiet',item.link]">{{item.title}}</a></h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>
