.news-row {
  margin-top: 20px;
  display: flex;
  gap: 10px;

  .news-item:last-child {
    margin-right: 0px;
  }
}
.news-item {
  width: 196px;
  .img_show img {
    height: 130px;
  }
  .news-title {
    margin-top: 14px;
    h5 {
      font-weight: bold;
      font-size: 15px;
    }
  }}
