<div class="container">
  <div class="news-row">
    <div class="news-item">
      <div class="img_show">
        <img src="https://ts.hust.edu.vn/public/uploads/m9il-thi-thptqg-121.png" width="500" height="600">
      </div>
      <div class="news-title"><a href="#"><h5>100% thí sinh trượt kỳ thi THPTQG 2022</h5></a></div>
    </div>

    <div class="news-item">
      <div class="img_show">
        <img src="https://ts.hust.edu.vn/public/uploads/m9il-thi-thptqg-121.png" width="500" height="600">
      </div>
      <div class="news-title"><a href="#"><h5>100% thí sinh trượt kỳ thi THPTQG 2022 và 90 % thí sinh liệt môn văn</h5></a></div>
    </div>

    <div class="news-item">
      <div class="img_show">
        <img src="https://ts.hust.edu.vn/public/uploads/m9il-thi-thptqg-121.png" width="500" height="600">
      </div>
      <div class="news-title"><a href="#"><h5>100% thí sinh trượt kỳ thi THPTQG 2022</h5></a></div>
    </div>

    <div class="news-item">
      <div class="img_show">
        <img src="https://ts.hust.edu.vn/public/uploads/m9il-thi-thptqg-121.png" width="500" height="600">
      </div>
      <div class="news-title"><a href="#"><h5>100% thí sinh trượt kỳ thi THPTQG 2022 và 90 % thí sinh liệt môn văn</h5></a></div>
    </div>


  </div>

</div>
