
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mdb5-angular-ui-kit-pro-advanced-primary: mat.define-palette(mat.$indigo-palette);
$mdb5-angular-ui-kit-pro-advanced-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mdb5-angular-ui-kit-pro-advanced-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mdb5-angular-ui-kit-pro-advanced-theme: mat.define-light-theme((
  color: (
    primary: $mdb5-angular-ui-kit-pro-advanced-primary,
    accent: $mdb5-angular-ui-kit-pro-advanced-accent,
    warn: $mdb5-angular-ui-kit-pro-advanced-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mdb5-angular-ui-kit-pro-advanced-theme);

/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~mdb-angular-calendar/scss/calendar.scss';
@import '~mdb-angular-wysiwyg/scss/wysiwyg.scss';
@import '~mdb-angular-drag-and-drop/scss/drag-and-drop.scss';
@import '~mdb-angular-vector-maps/scss/vector-map.scss';
@import '~mdb-angular-file-upload/scss/file-upload.scss';
@import '~mdb-angular-treeview/scss/treeview.scss';
@import '~mdb-angular-transfer/scss/transfer.scss';
@import '~mdb-angular-mention/scss/mention.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  html {
  font-family: Roboto;
  font-size: 11px;
  color: #222222;
}
ul {
  padding:0;
  margin: 0;
}
li {
  list-style-type:none;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}
a {
  color: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input,
button,
select {
  outline: none;
  border: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
.text-black {
  color: #222222;
}
.enable-sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s step-start;
  background-color: #0b3d91;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
  margin: 20px 0;
}
