<div class="container">
  <app-header-news-detail></app-header-news-detail>
  <div class="box-news-content">
    <app-news-detail></app-news-detail>
    <div class="box--most-viewd">
      <div class="box__title">
        <h3>Xem nhiều</h3>
      </div>
      <ul class="box__list">
        <li class="box__item">
          <a href="" class="box__link">
            <img
              src="https://nld.mediacdn.vn/zoom/198_124/291774122806476800/2022/8/3/nu-sinh-16594671651441103426854.jpg"
              alt="" class="box__image">
          </a>
          <a href="" class="box__desc--title"
             title="Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng">
            Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng
          </a>
        </li>
        <li class="box__item">
          <a href="" class="box__link">
            <img
              src="https://nld.mediacdn.vn/zoom/198_124/291774122806476800/2022/8/3/nu-sinh-16594671651441103426854.jpg"
              alt="" class="box__image">
          </a>
          <a href="" class="box__desc--title"
             title="Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng">
            Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng
          </a>
        </li>
        <li class="box__item">
          <a href="" class="box__link">
            <img
              src="https://nld.mediacdn.vn/zoom/198_124/291774122806476800/2022/8/3/nu-sinh-16594671651441103426854.jpg"
              alt="" class="box__image">
          </a>
          <a href="" class="box__desc--title"
             title="Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng">
            Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng
          </a>
        </li>
        <li class="box__item">
          <a href="" class="box__link">
            <img
              src="https://nld.mediacdn.vn/zoom/198_124/291774122806476800/2022/8/3/nu-sinh-16594671651441103426854.jpg"
              alt="" class="box__image">
          </a>
          <a href="" class="box__desc--title"
             title="Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng">
            Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng
          </a>
        </li>
        <li class="box__item">
          <a href="" class="box__link">
            <img
              src="https://nld.mediacdn.vn/zoom/198_124/291774122806476800/2022/8/3/nu-sinh-16594671651441103426854.jpg"
              alt="" class="box__image">
          </a>
          <a href="" class="box__desc--title"
             title="Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng">
            Nữ sinh tử nạn có nồng độ cồn ở Ninh Thuận: Vắng 1 nhân vật quan trọng
          </a>
        </li>
      </ul>
    </div>
  </div>
  <app-related-news></app-related-news>
  <app-featured-news></app-featured-news>
</div>
