<div class="container">
  <app-header-news-detail [data]="dataHeader" [headerLoading]="headerLoading"></app-header-news-detail>
  <div class="news_container">

    <app-news-detail [data]="dataDetail" [detailLoading]="detailLoading"></app-news-detail>
    <div class="box-news-content">
      <div class="box--most-viewd">
        <div class="box__title">
          <h3>Xem nhiều</h3>
        </div>
        <ngx-skeleton-loader *ngIf="mostViewLoading;else mostViewLoaded" appearance="line" [theme]="{
    height: '800px',
    'border-radius': 0
  }"></ngx-skeleton-loader>
        <ng-template #mostViewLoaded></ng-template>
        <ul class="box__list" *ngFor="let item of dataMostView">
          <li class="box__item">
            <a [routerLink]="['/mostView/','https://nld.com.vn'+item.link]" class="box__link">
              <img
                [src]="item.urlImg"
                alt="" class="box__image">
            </a>
            <a [routerLink]="['/mostView/','https://nld.com.vn'+item.link]" class="box__desc--title"
               [title]="item.title">
              {{item.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-related-news [data]="dataRelated"></app-related-news>
<!--  <app-box-same-category-news></app-box-same-category-news>-->
</div>
