<div class="container">
  <app-header-news-detail [data]="dataHeader" [headerLoading]="headerLoading"></app-header-news-detail>
  <div class="news_container">
    <app-news-detail [data]="dataDetail" [detailLoading]="detailLoading" [url]="linkPage"></app-news-detail>
    <div class="box-news-content">
      <div class="box--most-viewd">
        <div class="box__title">
          <h3>Xem nhiều</h3>
        </div>
        <ngx-skeleton-loader *ngIf="mostViewLoading;else mostViewLoaded" appearance="line" [theme]="{
    height: '800px',
    'border-radius': 0
  }"></ngx-skeleton-loader>
        <ng-template #mostViewLoaded></ng-template>
        <ul class="box__list" *ngFor="let item of dataMostView">
          <li class="box__item">
            <a [routerLink]="['/mostView/','https://nld.com.vn'+item.link]" class="box__link">
              <img
                [src]="item.urlImg"
                alt="" class="box__image">
            </a>
            <a [routerLink]="['/mostView/','https://nld.com.vn'+item.link]" class="box__desc--title"
               [title]="item.title">
              {{item.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-related-news [data]="dataRelated"></app-related-news>
  <div class="comment p-4">
    <h4 class="comment__title">Bình luận</h4>
    <div class="form-out p-4line p-4">
      <textarea class="form-control" id="textArea_comment" rows="4"></textarea>
      <label class="form-label" for="textArea">Message</label>
      <div class="comment__notice">
        <div class="comment__reader--number">Có <span>{{dataComment.length}}</span> nguời bình luận</div>
        <button class="comment__btn" (click)="sendComment()" >Gửi</button>
      </div>
      <ng-container *ngIf="dataComment.length>0">
        <ng-container *ngFor="let comment of dataComment">
      <div class="reader mt-4">
        <div class="comment-box__list-reader">
          <div class="comment-box__left">
            <div class="reader__avt">
             T
            </div>
          </div>

          <div class="comment-box__right">
           <div class="reader__info">
             <h4 class="reader__name">{{comment['name']}}</h4>
             <span class="time">13:27</span>
           </div>
            <p class="reader__comment">{{comment['comment']}}</p>
            <div class="reader__more">
              <button class="reader__btn-reply">Trả lời bình luận này</button>
              <button class="reader__btn-like"><i class="far fa-heart"></i> Yêu thích: <span>3</span></button>
            </div>
          </div>
        </div>
      </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
<!--  <app-box-same-category-news></app-box-same-category-news>-->
</div>
