<div class="container">
  <ul class="menu__list" *ngIf="isMenuTop; else menuBottomImpl">
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: '', isFirst:true,router:'/trang-chu'  ,param:''}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Trong nước', router:'/trong-nuoc' ,param:trongNuoc}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Quốc tế', router:'/quoc-te'  ,param:quocTe}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Công đoàn', router:'/cong-doan'  ,param:congDoan}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Bạn đọc', router:'/ban-doc'  ,param:banDoc}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Kinh tế', router:'/kinh-te'  ,param:kinhTe}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Sức khỏe', router:'/suc-khoe'  ,param:sucKhoe}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Giáo dục', router:'/giao-duc'  ,param:giaoDuc}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Pháp luật', router:'/phap-luat' ,param:phapLuat }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Văn nghệ', router:'/van-nghe' ,param:vanNghe }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Giải trí', router:'/giai-tri'  ,param:giaiTri }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Thể thao', router:'/the-thao'  ,param:theThao}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Công nghệ', router:'/cong-nghe'  ,param:congNghe}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Du lịch xanh', router:'/du-lich-xanh'  ,param:duLichXanh}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Phụ nữ', router:'/phu-nu'  ,param:phuNu}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Địa ốc', router:'/dia-oc' ,param:diaOc }"
      >
      </ng-container>
    </li>
    <!--      <li class="menu__item">-->
    <!--        <ng-container-->
    <!--          [ngTemplateOutlet]="menuLinkTmpl"-->
    <!--          [ngTemplateOutletContext]="{title: '', isLast:true }"-->
    <!--        >-->
    <!--        </ng-container>-->
    <!--      </li>-->
    <!--      <li class="menu__item"  *ngFor="let data of datas; first as isFirst; last as isLast">-->
    <!--        <ng-container-->
    <!--          [ngTemplateOutlet]="menuLinkTmpl"-->
    <!--          [ngTemplateOutletContext]="{title: data.title, isLast: isLast, isFirst:isFirst }"-->
    <!--        >-->
    <!--        </ng-container>-->
    <!--      </li>-->
    <li class="search">
      <input class="search__input" type="text" placeholder="Tìm kiếm ...">
      <div class="search__btn" (click)="active()">
        <i class="fas fa-search"></i>
      </div>
      <div class="search__btn-cancel" (click)="unActive()">
        <i class="fas fa-times"></i>
      </div>
    </li>
  </ul>

</div>
<ng-template #menuBottomImpl>
  <ul class="menu__list">
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: '', isFirst:true,router:'/trang-chu',param:'',className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Trong nước', router:'/trong-nuoc',param:trongNuoc,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Quốc tế', router:'/quoc-te',param:quocTe ,className:'text-black'}"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Công đoàn', router:'/cong-doan',param:congDoan,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Bạn đọc', router:'/ban-doc',param:banDoc,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Kinh tế', router:'/kinh-te',param:kinhTe,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Sức khỏe', router:'/suc-khoe',param:sucKhoe,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Giáo dục', router:'/giao-duc',param:giaoDuc,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Pháp luật', router:'/phap-luat',param:phapLuat,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Văn nghệ', router:'/van-nghe',param:vanNghe,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Giải trí', router:'/giai-tri',param:giaiTri,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Thể thao', router:'/the-thao',param:theThao,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Công nghệ', router:'/cong-nghe',param:congNghe,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Du lịch xanh', router:'/du-lich-xanh',param:duLichXanh,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Phụ nữ', router:'/phu-nu',param:phuNu,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: 'Địa ốc', router:'/dia-oc',param:diaOc,className:'text-black' }"
      >
      </ng-container>
    </li>
    <li class="menu__item">
      <ng-container
        [ngTemplateOutlet]="menuLinkTmpl"
        [ngTemplateOutletContext]="{title: '', isLast:true,className:'text-black' }"
      >
      </ng-container>
    </li>
  </ul>
</ng-template>
<ng-template
  #menuLinkTmpl
  let-title="title"
  let-className="className"
  let-isLast="isLast"
  let-isFirst="isFirst"
  let-router="router"
  let-param="param"
>
  <a [ngClass]="['menu__link', className ? className : '']" [routerLink]="['/the-loai-redirect',param]" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}">
    <i *ngIf="isFirst" class="fas fa-home"></i>
    <i *ngIf="isLast" class="fas fa-search"></i>
    {{title}}
  </a>
</ng-template>

